.container {
    display: flexa;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 300px;
    background: #7224d0;
    width: 800px;
    height: 300px;
    border-radius: 15px;
}

.quote {
    padding: 60px 110px;
    color: white;
    font-size: 30px;
    text-align: center;
}


.line {
    width: 800px;
    height: 1.5px;
    background: white;

}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.author {
    color: white;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    padding-left: 45px;
}

.icons {
    display: flex;
    gap: 40px;
    padding-right: 45px;
}


.icons img {
    cursor: pointer;
    height: 36px;
}